In [1]:
import pandas as pd

In [2]:
cluster_lat=[17.33876038,
             17.11371281,
             17.47290157,
             17.22720545,
             17.2121,
             16.71198301,
             17.3383,
             17.56081089]
cluster_long=[98.1068906,
              98.40051491,
              98.02630126,
              98.22567455,
              97.7684,
              98.56604615,
              97.6670,
              97.92060989]
data = {"cluster": list(range(0,8)),"lat": cluster_lat,"long":cluster_long}
cluster_location = pd.DataFrame(data= data)
cluster_location["cluster"]

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
Name: cluster, dtype: int64

In [3]:
cluster_location["cluster"]
cluster_location_export = cluster_location.rename(columns={"cluster": "id", "long": "lon"})
cluster_location_export["name"] = cluster_location_export["id"]
cluster_location_export.to_csv("cluster_location.csv", encoding="utf-8", index=False)
travel_record = pd.read_csv('travel_history.csv')
travel_record

        agentID  occupation  date  start  destination health_stage
0             3     Officer     1      0            5      Healthy
1            13     Officer     1      0            3      Healthy
2            19     Officer     1      0            2      Healthy
3            20     Officer     1      0            3      Healthy
4            25     Officer     1      0            2      Healthy
...         ...         ...   ...    ...          ...          ...
149112     2466  Unemployed   365      6            7      Healthy
149113     2467  Unemployed   365      1            7      Healthy
149114     2471  Unemployed   365      7            4      Healthy
149115     2479  Unemployed   365      4            7      Healthy
149116     2482  Unemployed   365      2            0      Healthy

[149117 rows x 6 columns]

In [4]:
travel_record_summary = travel_record.groupby(["start","destination"]).size().reset_index(name='counts')
travel_record_summary = travel_record_summary.rename(columns={"start": "origin", "destination": "dest","counts":"count"})
trs_officer = travel_record[travel_record['occupation'] == "Officer" ].groupby(["start","destination"]).size().reset_index(name='counts')
trs_officer.rename(columns={"start": "origin", "destination": "dest","counts":"count"})
trs_farmer =   travel_record[travel_record['occupation'] == "Farmer" ].groupby(["start","destination"]).size().reset_index(name='counts')
trs_farmer.rename(columns={"start": "origin", "destination": "dest","counts":"count"})
trs_unemploy = travel_record[travel_record['occupation'] == "Unemployed" ].groupby(["start","destination"]).size().reset_index(name='counts')
trs_unemploy.rename(columns={"start": "origin", "destination": "dest","counts":"count"})

travel_record_summary.to_csv("travel_summary.csv",encoding="utf-8" ,index=False)
travel_record_df = pd.merge(travel_record, cluster_location, left_on='start', right_on='cluster')
travel_record_df = pd.merge(travel_record_df, cluster_location, left_on='destination', right_on='cluster')
travel_record_df=travel_record_df.drop(columns=["cluster_x","cluster_y"])
travel_record_df=travel_record_df.rename(columns={"lat_x": "start_lat", "long_x": "start_long","lat_y": "destination_lat", "long_y": "destination_long"})
travel_record_df

,agentID,occupation,date,start,destination,health_stage,start_lat,start_long,destination_lat,destination_long
0,3,Officer,1,0,5,Healthy,17.338760,98.106891,16.711983,98.566046
1,13,Officer,1,0,3,Healthy,17.338760,98.106891,17.227205,98.225675
2,19,Officer,1,0,2,Healthy,17.338760,98.106891,17.472902,98.026301
3,20,Officer,1,0,3,Healthy,17.338760,98.106891,17.227205,98.225675
4,25,Officer,1,0,2,Healthy,17.338760,98.106891,17.472902,98.026301
...,...,...,...,...,...,...,...,...,...,...
149112,2466,Unemployed,365,6,7,Healthy,17.338300,97.667000,17.560811,97.920610
149113,2467,Unemployed,365,1,7,Healthy,17.113713,98.400515,17.560811,97.920610
149114,2471,Unemployed,365,7,4,Healthy,17.560811,97.920610,17.212100,97.768400
149115,2479,Unemployed,365,4,7,Healthy,17.212100,97.768400,17.560811,97.920610
149116,2482,Unemployed,365,2,0,Healthy,17.472902,98.026301,17.338760,98.106891

In [5]:
travel_record_summary

    origin  dest  count
0        0     1   3082
1        0     2  12525
2        0     3   7572
3        0     4   2971
4        0     5   3120
5        0     7   1588
6        1     0   5356
7        1     7   7985
8        2     0  17281
9        2     1  10179
10       2     3   3430
11       2     7   3449
12       3     2   4429
13       3     7   6682
14       4     0   6729
15       4     7   6963
16       5     0   1677
17       5     7   1692
18       6     7   7177
19       7     2  17679
20       7     4  10515
21       7     6   7036

In [6]:
travel_summary_latlng = pd.merge(travel_record_summary, cluster_location, left_on='origin', right_on='cluster')
travel_summary_latlng = pd.merge(travel_summary_latlng, cluster_location, left_on='dest', right_on='cluster')
travel_summary_latlng = travel_summary_latlng.drop(columns=["cluster_x", "cluster_y"])
travel_summary_latlng = travel_summary_latlng.rename(
    columns={"lat_x": "start_lat", "long_x": "start_lon", "lat_y": "destination_lat", "long_y": "destination_lon"})
travel_summary_latlng

,origin,dest,count,start_lat,start_lon,destination_lat,destination_lon
0,0,1,3082,17.338760,98.106891,17.113713,98.400515
1,0,2,12525,17.338760,98.106891,17.472902,98.026301
2,0,3,7572,17.338760,98.106891,17.227205,98.225675
3,0,4,2971,17.338760,98.106891,17.212100,97.768400
4,0,5,3120,17.338760,98.106891,16.711983,98.566046
5,0,7,1588,17.338760,98.106891,17.560811,97.920610
6,1,0,5356,17.113713,98.400515,17.338760,98.106891
7,1,7,7985,17.113713,98.400515,17.560811,97.920610
8,2,0,17281,17.472902,98.026301,17.338760,98.106891
9,2,1,10179,17.472902,98.026301,17.113713,98.400515
10,2,3,3430,17.472902,98.026301,17.227205,98.225675
11,2,7,3449,17.472902,98.026301,17.560811,97.920610
12,3,2,4429,17.227205,98.225675,17.472902,98.026301
13,3,7,6682,17.227205,98.225675,17.560811,97.920610
14,4,0,6729,17.212100,97.768400,17.338760,98.106891
15,4,7,6963,17.212100,97.768400,17.560811,97.920610
16,5,0,1677,16.711983,98.566046,17.338760,98.106891
17,5,7,1692,16.711983,98.566046,17.560811,97.920610
18,6,7,7177,17.338300,97.667000,17.560811,97.920610
19,7,2,17679,17.560811,97.920610,17.472902,98.026301
20,7,4,10515,17.560811,97.920610,17.212100,97.768400
21,7,6,7036,17.560811,97.920610,17.338300,97.667000

In [7]:
cluster_location.to_json(r"./cluster_location.json",orient="records")
travel_summary_latlng.to_json(r"./travel_summary.json",orient="records")